
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>
      Les Hackathons
    </ion-title>
  </ion-toolbar>
  <ion-select value="{{item}}" (ionChange)="onChange($event)">
    <ion-select-option  value="">Toutes les villes</ion-select-option>
    <ion-select-option *ngFor="let item of ListeVille" value="{{item}}">{{item}}</ion-select-option>

  </ion-select>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    
    <ion-item class="liste" *ngFor="let item of ListeArretAff" (click)="MonClick(item)">
      <ion-thumbnail slot="start">
        <img src="{{item.image}}">
      </ion-thumbnail>
      <ion-label>{{item.theme}}</ion-label>
      

    </ion-item>
  </ion-list>
 
</ion-content>
