
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>
      Les Hackathons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of ListeArret" (click)="MonClick(item)">
      <ion-thumbnail slot="start">
        <img src="{{item.image}}">
      </ion-thumbnail>
      <ion-label>{{item.theme}}</ion-label>
      

    </ion-item>
  </ion-list>
 
</ion-content>
